{% extends 'base.html.twig' %}

{% block title %}Nova Practica{% endblock %}

{% block body %}
    {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}

    <div class="row m-0 mt-3">


        <div class="col-8 mt-5">

            <div class="card shadow ">

                <div class="card-body">
                    <div class="contenedor bg-white">

                        <div class="row m-0">

                            <div class="col-12 ">
                                <small class="small-text">Formulari de creació de practiques</small>
                            </div>
                        </div>

                        <div class="row m-0 ">
                            <div class="col-12 mt-2">
                                <hr>

                                <div class="form-group row m-0  mb-3">


                                    <div class="col-sm-2 col-form-label bg-secondary text-white rounded-start">{{ form_label(form.alumne,null, {errors: []}) }}</div>
                                    <div class="col-10 p-0">
                                        <div class="input-group">

                                            {{ form_widget(form.alumne) }}
                                            {#<input type="text"  class="form-control shadow-none" id="nom" value="" placeholder="Nom">#}

                                        </div>
                                    </div>
                                    {{ form_errors(form.alumne) }}
                                </div>

                                <div class="form-group row m-0  mb-3">


                                    <div class="col-sm-2 col-form-label bg-secondary text-white rounded-start">{{ form_label(form.empresa,null, {errors: []}) }}</div>
                                    <div class="col-10 p-0">
                                        <div class="input-group">

                                            {{ form_widget(form.empresa) }}
                                            {#<input type="text"  class="form-control shadow-none" id="nom" value="" placeholder="Nom">#}

                                        </div>
                                    </div>
                                    {{ form_errors(form.empresa) }}
                                </div>

                                <div class="form-group row m-0  mb-3">

                                    <div class="col-sm-2 col-form-label bg-secondary text-white rounded-start">{{ form_label(form.periode,null, {errors: []}) }}</div>
                                    <div class="col-10 p-0">
                                        <div class="input-group">
                                            {{ form_widget(form.periode) }}
                                            {#<input type="text"  class="form-control shadow-none" id="poblacio" value="" placeholder="Valencia">#}

                                        </div>
                                    </div>
                                    {{ form_errors(form.periode) }}
                                </div>
                                <div class="form-group row m-0  mb-3">


                                    <div class="col-sm-2 col-form-label bg-secondary text-white rounded-start">{{ form_label(form.data,null, {errors: []}) }}</div>
                                    <div class="col-10 p-0">
                                        <div class="input-group">

                                            {{ form_widget(form.data) }}
                                            {#<input type="text"  class="form-control shadow-none" id="mail" value="" placeholder="example@gmail.com">#}

                                        </div>
                                    </div>
                                    {{ form_errors(form.data) }}
                                </div>
                                <div class="form-group row m-0 mt-4 mb-3">

                                    <div class="col-sm-2 col-form-label bg-secondary text-white rounded-start">{{ form_label(form.observacions,null, {errors: []}) }}</div>
                                    <div class="col-10 p-0">
                                        <div class="input-group">

                                            {{ form_widget(form.observacions) }}
                                            {# <input type="text"  class="form-control shadow-none" id="tel" value="" placeholder="000000000">#}

                                        </div>
                                    </div>
                                    {{ form_errors(form.observacions) }}
                                </div>

                                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->

                            </div>
                        </div>




                    </div>



                </div><!--fi card-body1-->

            </div>


        </div><!--fi columna principal-->

        <div class="col-4">

        </div>


    </div>

    <div class="row m-0">
        <div class="col-4 mt-2 ">

            <div class="card shadow h-100 containerBlue ">

                <button class="common-link color-heavyBlue btn w-100" type="submit" >
                    <div class="card-body">
                        <div class="contenedor">

                            <div class="h-100">

                                <div class="d-flex justify-content-center align-items-center">
                                    Validar les dades &ensp; <i class="fa fa-check" aria-hidden="true"></i></div>

                            </div>
                        </div>

                    </div><!--fi card-body1-->
                </button>
            </div>
        </div>
        <div class="col-4 mt-2  ">
            <div class="card shadow h-100 containerBlue">
                <button class="common-link color-heavyBlue btn w-100" type="submit" >
                    <div class="card-body">
                        <div class="contenedor">

                            <div class="h-100">

                                <div class="d-flex justify-content-center align-items-center">
                                    Crear &ensp; <i class="fa fa-plus" aria-hidden="true"></i></div>

                            </div>
                        </div>

                    </div><!--fi card-body1-->
                </button>
            </div>
        </div>

    </div>


    {{ form_end(form) }}
{#    <h1>Create new Practica</h1>

    {{ include('practica/_form.html.twig') }}

    <a href="{{ path('practica_index') }}">back to list</a>#}
{% endblock %}
