{% extends 'base.html.twig' %}

{% block title %}Practica{% endblock %}

{% block body %}


    <div class="row m-0">


        <div class="col-12 mt-5">

            <div class="card shadow ">

                <div class="card-body">
                    <div class="contenedor bg-white">

                        <div class="row m-0">

                            <div class="col-8 ">
                                <small class="small-text">Fitxa tecnica de la practica</small>
                            </div>

                        </div>
                        <div class="row m-0 mt-3  ">

                            <div class="col-12 text-center">
                                <h4 class="bg-turqNoEmbed py-2 ">{{ practica.alumne.nom}} {{ practica.alumne.cognom }}</h4>
                            </div>

                            <div class="col-8 pt3">
                                <h5 class="pb-3 mb-0">Accions relacionades</h5>
                                <div class="row m-0">
                                    <hr class="w-100">
                                </div>
                                <div class="contenedor bg-white">

                                    {% set contador = 0 %}

                                    {% for accio in practica.accions %}
                                    <div class=" row m-0">


                                        <div class="col-2 p-2 ">
                                            <div class="subcontainer">
                                                <h6 class="mb-0">{{ accio.data|date('Y-m-d') }}</h6>
                                            </div>

                                        </div>

                                        <div class="col-8 bg-white p-2 ">

                                            <div class="subcontainer">

                                                <h6 class="mb-0">{{ accio.professor.nom}} {{ accio.professor.cognom}} - {{ accio.representant.empresa.nom ?? accio.representant.nom ~ ' ' ~ accio.representant.cognom}}</h6>

                                            </div>

                                        </div>


                                        <div class="col-2 bg-white p-2">
                                            <a href="{{ path('accio_show', {'id': accio.id}) }}">
                                                <button class="btn bg-turq  w-100 h-100">
                                                    <i class="fa fa-external-link" aria-hidden="true"> </i>
                                                </button>
                                            </a>
                                        </div>
                                        {% set contador = contador + 1%}

                                    </div>
                                        {% endfor  %}

                                        {% if contador == 0 %}
                                            <span>No s'ha trobat cap accio</span>
                                        {% endif %}

                                </div>

                            </div>
                            <div class="col-4">
                                <div class="row m-0 mb-2">

                                    <div class="col-12 mt-2 ">

                                        <div class="card shadow h-100 containerBlue ">
                                            <form method="get" action="{{ path('practica_edit', {'id': practica.id}) }}">
                                                <button class="common-link color-heavyBlue btn w-100" type="submit" >
                                                    <div class="card-body">
                                                        <div class="contenedor">

                                                            <div class="h-100">

                                                                <div class="d-flex justify-content-center align-items-center"><i class="fa fa-pencil" aria-hidden="true"></i>

                                                                    &ensp; Editar</div>

                                                            </div>
                                                        </div>

                                                    </div><!--fi card-body1-->
                                                </button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <div class="row m-0 my-2">
                                    <div class="col-12 mt-2  ">

                                        <div class="card shadow h-100 containerDanger">
                                            <form method="post" action="{{ path('practica_delete', {'id': practica.id}) }}" onsubmit="return confirm('Aquesta practica sera esborrada de forma permannt, estas segur/a?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ practica.id) }}">
                                                <button class="common-link text-danger btn w-100" type="submit" href="">
                                                    <div class="card-body">
                                                        <div class="contenedor">

                                                            <div class="h-100">

                                                                <div class="d-flex justify-content-center align-items-center containerDanger"><i class="fa fa-trash" aria-hidden="true"></i>
                                                                    &ensp; Esborrar</div>

                                                            </div>
                                                        </div>

                                                    </div><!--fi card-body1-->
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6 pt-3">

                                <h5 class="pb-3 mb-0">Alumne</h5>
                                <div class="row m-0">
                                    <hr class="w-100">
                                </div>
                                <div class="form-group row m-0 mt-4 mb-3">

                                    <div class="col-12 p-0">
                                        <div class="input-group">

                                            <input type="text" readonly class="form-control shadow-none" id="poblacio" value="{{ practica.alumne.nom}} {{ practica.alumne.cognom }}">
                                            <div class="input-group-prepend ">
                                                <div class="input-group-text bg-light h-100">

                                                    <a href="{{ path('alumne_show', {'id': practica.alumne.id}) }}"><i class="fas fa-arrow-right"></i></a>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-6 pt-3">

                                <h5 class="pb-3 mb-0">Empresa</h5>
                                <div class="row m-0">
                                    <hr class="w-100">
                                </div>
                                <div class="form-group row m-0 mt-4 mb-3">

                                    <div class="col-12 p-0">
                                        <div class="input-group">

                                            <input type="text" readonly class="form-control shadow-none" id="poblacio" value="{{ practica.empresa.nom}}">
                                            <div class="input-group-prepend ">
                                                <div class="input-group-text bg-light h-100">

                                                    <a href="{{ path('empresa_show', {'id': practica.empresa.id}) }}"><i class="fas fa-arrow-right"></i></a>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>



                        </div><!--Fi row fitxa tecnica-->
                    </div>
                </div><!--fi card-body1-->
            </div>
        </div><!--fi columna de fitxa tecnica-->
    </div>
    {#<h1>Practica</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ practica.id }}</td>
            </tr>
            <tr>
                <th>Periode</th>
                <td>{{ practica.periode }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ practica.data ? practica.data|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Observacions</th>
                <td>{{ practica.observacions }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('practica_index') }}">back to list</a>

    <a href="{{ path('practica_edit', {'id': practica.id}) }}">edit</a>

    {{ include('practica/_delete_form.html.twig') }}#}
{% endblock %}
